{% extends 'base.html' %}

{% block body %}
    <h1>{{article.title}}</h1>
    <p>{{article.content}}</p>
    <p>{{article.created_at}}</p>
    <p>{{article.update_at}}</p>

    <a href="{% url 'articles:update' article.id %}">UPDATE</a>
    <a href="{% url 'articles:delete' article.id %}">DELETE</a>

    <hr>

    <form action="{% url 'articles:comment_create' article.id %}" method='POST'>
        {% csrf_token %}
        {{form}}
        <input type="submit">
    </form>

    <hr>
    
    {% for comment in article.comment_set.all %}
        <li>{{comment.content}}</li>
        <a href="{% url 'articles:comment_delete' article.id comment.id %}">DELETE</a>
    {% endfor %}
{% endblock %}